# torch==2.0.1+cu118
opencv-python-headless==4.11.0.86
pyyaml
json_tricks
yacs
scikit-learn==1.4.0
pandas
timm==0.4.12
numpy
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@864913f0e57e87a75c8cc0c7d79ecbd774fc669b
einops
fvcore
transformers==4.40.0
sentencepiece
ftfy
regex
nltk
vision-datasets==0.2.2
pycocotools==2.0.7
diffdist
pyarrow
cityscapesscripts
shapely==2.0.7
scikit-image
mup
gradio==3.13.0
scann
kornia==0.6.4
torchmetrics==0.6.0